@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #000;
  --primary: #f2b134;
  --secondary: #d6453b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --font-secondary: var(--font-kaushan);
}

body {
  font-family: var(--font-poppins);
  background: var(--background);
  color: var(--foreground);
}
